<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MissingX -Jims Rohini</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
   </head>
   
   <body onload="loading()">
    <div id="loading"></div>
  <% include ./partials/header.ejs %>
<div class="img4">    <div class="row">
    <div class="container">
        <div class="topPart">
            <div class="searchbar">
                <form id="contact-form" method="POST" role="form">
                            <input id="form_name" type="text" name="name" class="form-control" placeholder="Please Enter Item Name*" required="required" data-error="Item name is required.">
                            <label for="form_name"></label>                   
                            <a href="/"><br><li  class=" btn btn-default col-xs-1 col-sm-1 col-md-1 col-lg-1"><i class="fa fa-backward" aria-hidden="true">Go Back</i></li></a>           
                         <div href="/thanks" >   <button class="btn btn-default btn-primary col-xs-1 col-sm-1 col-md-1 col-lg-1">Search</button></div></form>
            </div>
        </div>
    <div class="table-item-lost">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Item Name</th>
                    <th>Owner</th>
                    <th>Date</th>
                    <th>Location</th>
                    <th>Details</th>
                    <th>I Have Proof</th>
                    <th>View Details</th>
                </tr>
            </thead>
                <tbody><%lostslist.forEach(lost=>{%>
                    <td><p><%=lost.name%></p></td>
                    <td><p><%=lost.Owner%></p></td>
                    <td><p><%=lost.date%></p></td>
                    <td><p><%=lost.location%></p></td>                            
                    <td><p><%=lost.message%></p></td>
                    <td><p><%=lost.Proof%></p></td>
                            <td class="dynamicWidth"><form  method="GET">
                                <button>Show Details</button>
                            </form></td>
                </tbody><%})%>    
        </table>
    </div>
</div><br>
        <% include ./partials/footer.ejs %>
    <script>
  var preloader = document.getElementById('loading'); 
  function loading() {
    preloader.style.display ='none';
  }
</script>
</body>
    </html>
    